[src/**/*.hack]
indent_style = space
indent_size = 2

[test/**/*.hack]
indent_style = space
indent_size = 2

[example/**/*.hack]
indent_style = space
indent_size = 2

[*.md]
indent_style = tab
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
